<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912724582568-lhkhdc2omttn6pr0jc4147nit04ne72k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912724582568-lhkhdc2omttn6pr0jc4147nit04ne72k</string>
	<key>API_KEY</key>
	<string>AIzaSyC1382oJO_TmWDhAVfrU0F-0pp5gIgZkKs</string>
	<key>GCM_SENDER_ID</key>
	<string>912724582568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.securityLockerIot</string>
	<key>PROJECT_ID</key>
	<string>raspberrypi-ab822</string>
	<key>STORAGE_BUCKET</key>
	<string>raspberrypi-ab822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912724582568:ios:55c4e91015baf166eda29d</string>
	<key>DATABASE_URL</key>
	<string>https://raspberrypi-ab822-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>